.innerBox{
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: @inverseText;
}

#topBox{
  background-color: #123456;
}

#input{
  width: 300px;
}

#encryption{
  width: 100%;
  height: 60px;
  padding: 10px;
}

.rotorInput{
  width: 35px;
  text-align: center;
  size: 150%;
  height: 40px;
  font-size: 120%;
}
