<div class="container">
  <div class="content">
    <h2>Works Consulted</h2>
    <div class="divider"></div>
    <div id="citations">
      <p>"ARCHAEOLOGY OF World War II." Archaeology 64.3 (2011): 26-35. JSTOR. Archaeological Institute of America. Web. 20 Nov. 2014. <a target="_blank" href="http://www.jstor.org.flagship.luc.edu/stable/41780689">http://www.jstor.org.flagship.luc.edu/stable/41780689</a>.</p>
      <p>Christensen, Chris. "Polish Mathematicians Finding Patterns in Enigma Messages." <em>Mathematics Magazines</em> 80.4 (2007): 247-73. JSTOR. Web. 20 Nov. 2014. <a target="_blank" href="http://www.jstor.org.flagship.luc.edu/stable/27643040">http://www.jstor.org.flagship.luc.edu/stable/27643040</a>.</p>
      <p>Elsen, Ben. "Benelsen/enigma." <em>GitHub</em>. 7 Nov. 2014. Web. 3 Dec. 2014. <a target="_blank" href="https://github.com/benelsen/enigma">https://github.com/benelsen/enigma</a>.</p>
      <p>"Enigma." <em>BBC News History</em>. BBC. Web. 20 Nov. 2014. <a target="_blank" href="http://www.bbc.co.uk/history/topics/enigma">http://www.bbc.co.uk/history/topics/enigma</a>.</p>
      <p>Flaw in the Enigma Code - Numberphile. Perf. James Grime. YouTube, 2013. Film. <a href="https://www.youtube.com/watch?v=V4V2bpZlqx8">https://www.youtube.com/watch?v=V4V2bpZlqx8</a>.</p>
      <p>Rijmenants, Dirk. "Enigma Machine." <em>Enigma Machine</em>. Web. 20 Nov. 2014. <a target="_blank" href="http://users.telenet.be/d.rijmenants/en/enigma.htm">http://users.telenet.be/d.rijmenants/en/enigma.htm</a>.</p>
      <p>Spencer, Clare. "Profile: Alan Turing." <em>BBC News</em>. BBC, 9 Nov. 2009. Web. 20 Nov. 2014. <a target="_blank" href="http://news.bbc.co.uk/2/hi/uk_news/8250592.stm">http://news.bbc.co.uk/2/hi/uk_news/8250592.stm</a>.</p>
      <p><em>158,962,555,217,826,360,000 - Numberphile</em>. Perf. James Grime. YouTube, 2013. Film. <a target="_blank" href="https://www.youtube.com/watch?v=G2_Q9FoD-oQ">https://www.youtube.com/watch?v=G2_Q9FoD-oQ</a>.</p>
    </div>
    <div class="divider"></div>
    <h3>Other Links</h3>
    <div id="citations">
      <p><a target="_blank" href="https://www.youtube.com/watch?v=S5CjKEFb-sM">The Imitation Game</a>: a movie about Turing and cracking the Enigma Code at Bletchley Park.</p>
    </div>
  </div>
</div>
