<!-- <div id="page">
<div id="header">
<div id="headImage"></div>
<div id="nav">
<ul>
<li>HOME</li>
<li>ENGIMA</li>
<li>HISTORY</li>
<li>CITATIONS</li>
</ul>
</div>
</div> -->

<div class="container">
  <div class="content">
    <h2>the enigma machine</h2>
    <form ng-submit="encrypt()">
      <div id="phraseInput">
        <input type="text" ng-model="phrase" id="input"/>
        <input type="submit" id="submitButton" value="encrypt" ng-click="show=true"/>
      </div>
      <div id="startPositions">
        <label><input class="rotorInput" ng-model="third"/></label>
        <label><input class="rotorInput" ng-model="second"/></label>
        <label><input class="rotorInput" ng-model="first"/></label>
      </div>
      <div id="encryption">
        <pre ng-show="show">{{result}}</pre>
      </div>
    </form>
    <div id="enigmaInfo">
      <h3>how to use</h3>
      <div class="divider"></div>
      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
    </div>

  </div>
</div>

<!-- <div id="footer">
<p>Copyright 2014 Thomas J. Fox  |  <a href="mailto:thomasjfox1@gmail.com">Contact</a>  |  <a href="https://github.com/thomasjfox1/enigma">GitHub</a></p>
</div> -->
</div>
