<!-- <div id="page">
<div id="header">
<div id="headImage"></div>
<div id="nav">
<ul>
<li>HOME</li>
<li>ENGIMA</li>
<li>HISTORY</li>
<li>CITATIONS</li>
</ul>
</div>
</div> -->

<div class="container">
  <div class="content">
    <h2>The Enigma Machine</h2>
    <form ng-submit="encrypt()">
      <div id="phraseInput">
        <input type="text" ng-model="phrase" id="input"/>
        <input type="submit" id="submitButton" value="ENCRYPT" ng-click="show=true"/>
      </div>
      <div id="startPositions">
        <label><input type="text" class="rotorInput" maxlength="1" ng-model="third"/></label>
        <label><input type="text" class="rotorInput" maxlength="1" ng-model="second"/></label>
        <label><input type="text" class="rotorInput" maxlength="1" ng-model="first"/></label>
      </div>
      <div id="encryption">
        <pre ng-show="show">{{result}}</pre>
      </div>
    </form>
    <div id="enigmaInfo">
      <h3>How to Use</h3>
      <div class="divider"></div>
      <p>Pick your rotor starting positions by replacing the A’s with another letter. This will change
        the encryption. Then type in the text that you want encrypted. Only letters will be encrypted.
        All punctuation and spaces will be unencrypted to the default letter ‘K’ once it is decrypted.
        To send a message to someone, choose your rotor start positions and then enter the text and press
        ‘encrypt.’ To decrypt the message, you must have the starting positions of the rotors. Place them
        in the respective boxes and then the encrypted message into the input field. Then, press the ‘encrypt’
        button and the message will be decrypted. It is important to get the starting positions exactly
        right otherwise the decryption will not work.</p>
    </div>

  </div>
</div>

<!-- <div id="footer">
<p>Copyright 2014 Thomas J. Fox  |  <a href="mailto:thomasjfox1@gmail.com">Contact</a>  |  <a href="https://github.com/thomasjfox1/enigma">GitHub</a></p>
</div> -->
</div>
