<div class="container">
  <div class="content">
    <h2>Basic History and How It Works</h2>
    <div id="histMain">
      <h3>Basic History</h3>
      <p>With the advent of wireless communications in the early 1900s, both civilians and militaries saw an increasing need to shield communications. In 1918, Arthur Scherbius, a German engineer, developed his version of the mechanical rotating substitution cipher system called the ‘Enigma.’ Starting in 1923 he sold the machine publicly in Berlin. The original product was designed to be sold to commercial entities such as banks looking to encrypt their confidential communications. Three years later, the German Navy manufactured their own version of Enigma. The army followed in 1928 and then the air force in 1933. The machine went through multiple models that grew both lighter and more secure with each iteration.</p>
      <div id="textContainer">
        <div id="left">
          <p>The German Wehrmacht bought the Enigma D model and adapted it military purposes in 1932, renaming it the Enigma I. It had three rotors that could be adjusted manually. Each of the branches of the German military took their own approaches to developing the Enigma Machine for their uses. Each varied in the number of rotors that they had and some had extra features. From 1935 onward each of the branches incorporated the plugboard for extra security. During the war there were extra reflector plates to be swapped in an out when needed. In 1942, the Kriegsmarine (German Navy) implemented their famous four rotor system M4 model, which made the cipher significantly more difficult to crack. </p>
        </div>
        <div class="soloPicture" id="right">
          <img id="engimaPhoto2" src="/media/images/enigma_machine2.jpg">
          <p>Battle of France with Enigma Machine: <a target="_blank" href="http://en.wikipedia.org/wiki/Enigma_machine#mediaviewer/File:Bundesarchiv_Bild_101I-769-0229-10A,_Frankreich,_Guderian,_%22Enigma%22_croppped.jpg">Source</a></p>
        </div>
      </div>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</div>
