<!-- <div id="page">
  <div id="header">
    <div id="headImage"></div>
    <div id="nav">
      <ul>
        <li>HOME</li>
        <li>ENGIMA</li>
        <li>HISTORY</li>
        <li>CITATIONS</li>
      </ul>
    </div>
  </div> -->

  <div class="container">
    <div class="content">
      <h1>Welcome to the Enigma Cipher</h1>
      <div class="soloPicture">
        <img id="homeEnigmaPhoto" src="/media/images/enigma_machine1.jpg">
        <p>Enigma Machine in use on the Russian Front: <a href="http://en.wikipedia.org/wiki/Enigma_machine#mediaviewer/File:Bundesarchiv_Bild_101I-241-2173-09,_Russland,_Verschl%C3%BCsselungsger%C3%A4t_Enigma.jpg" target="_blank">Source</a></p>
      </div>

      <div id="homeMain">
        <h3>Hello!</h3>
        <div class="divider"></div>

        <p>This website was put together by Thomas J. Fox for an HONR 216 Encountering Contemporary Europe class at Loyola University Chicago.</p>
        <p>The point of this project is to inform the user of the basic history and workings behind the Enigma Cipher Machine that was in use during the Second World War by Nazi Germany. The encryption machine itself is a portable rotating shift cipher that makes it incredibly difficult to crack. It was a large advantage for the German war effort over the Allied Forces during WWII. At the time of its use, it was thought to be impossible to outright crack the code. There are 158,962,555,217,826,360,000 (158 quintillion 962 quadrillion 555 trillion 217 billion 826 million 360 thousand) different possiblities for a letter to be encrypted to using this algorithm. </p>
        <p>To learn more, and then to encrypt your own message using the same algorithm used by the Germans in the 1940s, check out the <a href="/#/history">history section</a> and then the <a href="/#/enigma">enigma machine.</a></p>

        <!-- <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p> -->
      </div>
    </div>
  </div>

  <!-- <div id="footer">
    <p>Copyright 2014 Thomas J. Fox  |  <a href="mailto:thomasjfox1@gmail.com">Contact</a>  |  <a href="https://github.com/thomasjfox1/enigma">GitHub</a></p>
  </div> -->
</div>
