<!-- <div id="page">
  <div id="header">
    <div id="headImage"></div>
    <div id="nav">
      <ul>
        <li>HOME</li>
        <li>ENGIMA</li>
        <li>HISTORY</li>
        <li>CITATIONS</li>
      </ul>
    </div>
  </div> -->

  <div class="container">
    <div class="content">
      <h2>welcome to the homepage for the enigma machine</h2>
      <h2>enjoy!</h2>

    </div>
  </div>

  <!-- <div id="footer">
    <p>Copyright 2014 Thomas J. Fox  |  <a href="mailto:thomasjfox1@gmail.com">Contact</a>  |  <a href="https://github.com/thomasjfox1/enigma">GitHub</a></p>
  </div> -->
</div>
